.form-wrapper{
    display: grid;
    display: -ms-grid;
    grid-auto-columns: min-content auto;
    grid-gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper label{
    grid-column: 1;
}

.form-wrapper input{
    grid-column: 2;
}

.form-wrapper div{
    grid-column: 2;
}

.form-wrapper .submit{
    grid-column: 1/3;
    text-align: center;
}
.form-wrapper .submit button{
    margin: 1em;
}

@media (max-width: 767px) {
    .form-wrapper label{
        grid-column: 1/3;
    }
    
    .form-wrapper input{
        grid-column: 1/3;
    }
    
    .form-wrapper div{
        grid-column: 1/3;
    }
}